lv-165IOS.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
lv-165IOS.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/lv-165IOS.xcscheme
lv-165IOS.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
lv-165IOS/.DS_Store
